[client]
socket                          = /home/mysql/run/mysql.sock

[mysql]
port                            = 3306
socket                          = /home/mysql/run/mysql.sock
default-character-set           = utf8
prompt                          = \\u@\\h:\\d \\r:\\m:\\s >
 
[mysqld] 
user                            = mysql
default-storage-engine          = InnoDB
character-set-server            = utf8
socket                          = /home/mysql/run/mysql.sock
pid-file                        = /home/mysql/run/mysql.pid
binlog_format                   = ROW
transaction_isolation           = READ-COMMITTED
max-allowed-packet              = 512M
max-connections                 = 1000
max-connect-errors              = 1000000
skip-name-resolve               = 1
sysdate-is-now                  = 1
server-id                       = 1
basedir                         = /home/mysql/app/mysql-5.7.21
datadir                         = /home/mysql/data
log-bin                         = /home/mysql/binlogs/mysql-bin
innodb-buffer-pool-size         = 1500M
innodb-flush-method             = O_DIRECT
innodb-log-files-in-group       = 3
innodb-log-file-size            = 2G
log_timestamps                  = SYSTEM
expire-logs-days                = 15
log-queries-not-using-indexes   = 1
slow-query-log                  = 1
explicit_defaults_for_timestamp = 1
log-error                       = /home/mysql/log/mysql_error.log
slow-query-log-file             = /home/mysql/log/mysql_slow.log
tmpdir                          = /home/mysql/tmp

gtid_mode                       = ON
enforce_gtid_consistency        = 1

# REPLICATION #
#read-only                       = 1
skip-slave-start                = 1
log-slave-updates               = 1
relay-log                       = /home/mysql/binglogs/relay-bin
sync-master-info                = 1
sync-relay-log                  = 1
sync-relay-log-info             = 1

# 开启MySQL5.7的并行复制功能，减少主从延迟
slave-parallel-type             = LOGICAL_CLOCK
slave-parallel-workers          = 4
relay_log_recovery              = 1
relay_log_info_repository       = TABLE
master_info_repository          = TABLE
